NUXT_PUBLIC_SITE_NAME=PUNKT3 Starter
NUXT_PUBLIC_SITE_DESCRIPTION=Your go-to starter template for building modern web applications.
NUXT_NODE_ENV=production
NUXT_HOST=0.0.0.0
NUXT_PORT=3000
NUXT_PUBLIC_API_URL=https://api.localhost:3000
NUXT_PUBLIC_SITE_URL=http://localhost:3000
# Available adapters: directus (supabase, nuxt_content - coming soon)
NUXT_BACKEND_ADAPTER=directus